.navbar {
  background-color: #ccc;
}

.bg-gray {
  background-color: #eee;
}

.brand-image {
  height: 100%;
  width: 75px;
}

.imagem-padrao {
  height: 250px;
  margin: auto;
  padding: 15px 0;
}

.link-padrao {
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.redes {
  width: 40px;
  transition: 0.5s ease;
}

.redes:hover {
  filter: blur(1px);
  transition: 0.5s ease;
}

.link-padrao:hover {
  transition: 0.5 ease;
  color: rgb(80, 79, 79);
}

#pucminas {
  font-weight: 700;
}
